<div id="header-container" class="text-center">
  <img src="../assets/images/minimalist5.jpg" alt="">
</div>
<nav id="main-nav" class="shadow navbar navbar-light bg-white mb-5">
  <a id="logo" class="navbar-brand pull-left text-center" [routerLink]="['']">
   <strong>Online library</strong>
  </a>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <button mat-button class="mr-3"><mat-icon>person</mat-icon>Account</button>
      <button [routerLink]="['/login']" class="mr-1" color="primary" mat-stroked-button>
        Login
      </button>
      <button [routerLink]="['/signup']" class="ml-1" color="secondary" mat-stroked-button>
        Signup
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>