<form class="container card text-center p-2">
  <h3 class="text-primary">Singup form</h3>
  <hr />
  <mat-form-field>
    <input matInput type="text" placeholder="Username" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" placeholder="Address"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Identification" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" />
  </mat-form-field>
  <div class="container p-2">
    <button mat-stroked-button><mat-icon>send</mat-icon></button>
  </div>
</form>
