<div class="bg-white header-container text-center">
  <h1 class="text-secondary">What do you want to read today?</h1>
  <mat-form-field>
    <input type="text" matInput>
  </mat-form-field>
  <button class="ml-4" mat-stroked-button><mat-icon>send</mat-icon></button>
</div>
<div class="container bottom-container text-center">
  <h1 class="text-white pt-4 placeholder">Searcher</h1>
  <hr>
  <mat-form-field class="bg-white">
    <input class="text-white" type="text" matInput placeholder="Search some books">
  </mat-form-field>
  <button class="ml-4 text-white" mat-stroked-button><mat-icon>search</mat-icon></button>
  <h3 class="text-white mt-5">Results</h3>
  <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Agronomy 2 in 1</mat-card-title>
        <mat-card-subtitle>Mark Actus</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          This books is a great opportunity to get deep in basics of Agronomy Engineering
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>favorite_border</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Botanic world</mat-card-title>
        <mat-card-subtitle>Francesca sorti</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          If you're a plant lover, this book is probably you're best choice to learn all the basics
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>favorite_border</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Nematodos</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The nematodes are the best option to fertilize the land and here you will know how to do it
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>favorite_border</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>