<mat-list>
  <h3 mat-subheader>Seen books</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>book</mat-icon>
    <h4 mat-line class="text-primary">Capital</h4>
    <p mat-line class="text-secondary">Seen at {{date | date}}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>book</mat-icon>
    <h4 mat-line class="text-primary">Modern economy</h4>
    <p mat-line class="text-secondary">Seen at {{date | date}}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>book</mat-icon>
    <h4 mat-line class="text-primary">Alchemist</h4>
    <p mat-line class="text-secondary">Seen at {{date | date}}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>book</mat-icon>
    <h4 mat-line class="text-primary">GraphQL beginner</h4>
    <p mat-line class="text-secondary">Seen at {{date | date}}</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>book</mat-icon>
    <h4 mat-line class="text-primary">50 Grey's shadows</h4>
    <p mat-line class="text-secondary">Seen at {{date | date}}</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Category</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>category</mat-icon>
    <h4 mat-line class="text-info">You're on level 6/10</h4>
    <p mat-line class="text-secondary">You have read 25 books in last year</p>
  </mat-list-item>
</mat-list>
